<div class="container">
    <div class="bg-image"></div>
    <div class="mask"></div>
    <div class="logo-container">
        <div class="tick"></div>
    </div>
    <div class="bottom-container">

        <div>
            <div class="logo-1"></div>
            <input required type="email" placeholder="Email" class="username" [(ngModel)]="data.email" name="username">
        </div>

        <div>
            <div class="logo-2"></div>
            <input required type="password" placeholder="Password" class="password" [(ngModel)]="password" name="password">
            <div class="question-mark"></div>
        </div>

        <button class="sign-in" button="submit">Sign in</button>

        <div class="footer">
            Don't have an account?
            <span class="not-reg" (click)="navigateTo('/signup')">Sign-up</span>
        </div>

    </div>
</div>