.container {
    position: absolute;
    width: 640px;
    height: 960px;
    background-size: cover;
    margin: 5px;
}

.bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/wallpaper.jpg);
    background-repeat: no-repeat;
}

.mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
}

.logo-container {
    position: relative;
    width: 100%;
    height: 60%;
}

.tick {
    position: relative;
    width: 45%;
    height: 60%;
    line-height: 30px;
    background-image: url(/assets/svgs/tick-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    top: 110px;
    left: 18px;
}

.bottom-container {
    position: relative;
    height: 40%;
    width: 100%;
}

.logo-1 {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 30%;
    background-image: url(/assets/svgs/name.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.username {
    position: relative;
    height: 70px;
    width: 70%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    bottom: 20px;
    right: 100px;
    border-bottom: 2px solid #8c8383;
}

.logo-2 {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 30%;
    background-image: url(/assets/svgs/password.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 12px;
}

.password {
    position: relative;
    height: 70px;
    width: 40%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    bottom: 20px;
    right: 100px;
    border-bottom: 2px solid #8c8383;
}

.question-mark {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 30%;
    background-image: url(/assets/svgs/question-mark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 115px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

.sign-in {
    position: relative;
    height: 100px;
    width: 80%;
    line-height: 60px;
    margin: 0 auto;
    background-color: #FF3366;
    text-align: center;
    border: none;
    /* top:150px; */
    color: white;
    font-size: 30px;
    border-radius: 50px;
    left: 55px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 34px;
    font-size: 20px;
    text-align: center;
    color: white;
}